<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.default.css">
</head>
<body>
<div class="find_back">
    <div class="find-back">
        <h1>找回密码</h1>
        <div class="form-group">
            <label >用户名</label>
            <input type="text" class="form-control" placeholder="phone/email">
        </div>
        <div class="form-group">
            <label >原密码</label>
            <input type="text" class="form-control" placeholder="oldPassword">
        </div>
        <div class="form-group">
            <label >新密码</label>
            <input type="text" class="form-control" placeholder="newPassword">
        </div>
        <div class="form-group">
            <label >确认密码</label>
            <input type="text" class="form-control" placeholder="newPassword">
        </div>

        <div class="form-group identify-code">
            <label>验证码</label>
            <input type="text" class="form-control" placeholder="code">
            <span class="btn btn-success">重新发送</span>
        </div>
        <input class="btn btn-info" type="submit" value="提交" />
    </div>
</div>

</body>
</html>
