<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>image</title>
    <!--图片弹出层样式 必要样式-->
    <link rel="stylesheet" href="/static/css/image.css" media="all" />
    <link rel="stylesheet" href="/static/css/zoom.css" media="all" />
    <link rel="stylesheet" href="/static/layer/skin/default/layer.css" media="all"/>
</head>
<body>
<div class="nav">
    <a id="dear" href="javascript:void (0)" onclick="$imagejs.image()">Hi my dear! If you want to do something, please click here.</a>
    <ul>
        <li><a href="#">上海</a></li>
        <li><a href="#">武汉</a></li>
        <li><a href="#">云台山</a></li>
        <li><a href="#">苏州</a></li>
        <li><a href="#">开封</a></li>
        <li><a href="#">新郑</a></li>
        <li><a href="#">洛阳</a></li>
    </ul>
</div>
<div class="container">
    <ul class="gallery">
        <h2>苏州的记忆</h2>
        <li><a href="/static/images/bg1.jpg"><img src="/static/images/tb11.jpg" /></a></li>
        <li><a href="/static/images/bg2.jpg"><img src="/static/images/tb22.jpg" /></a></li>
    </ul>
    <ul class="gallery">
        <h2>武汉的记忆</h2>
        <li><a href="/static/images/bg1.jpg"><img src="/static/images/tb11.jpg" /></a></li>
        <li><a href="/static/images/bg2.jpg"><img src="/static/images/tb22.jpg" /></a></li>
    </ul>
</div>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/zoom.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/js/photo.js"></script>
</body>
</html>